<h1><%= @game.name %></h1>

<h3>Your Score: <%= @game.current_score(current_user_id) %></h3>

<h2>Rounds</h2>
<ol>
<% @game.rounds.each do |round| %>
    <li><%= round.name %>
    <% if @game.round_score(current_user_id, round) %>
        <br>Score: <%= @game.round_score(current_user_id, round) %>
    <% end %>
    </li>
<% end %>
</ol>

<%= form_tag new_round_round_play_path(@current_game_round.round), method: :get do %>
    <%= hidden_field_tag :data, "game" %>
    <%= submit_tag "Start Next Round", class: "ui button" %>
<% end %>