<h1><%= @game.name %></h1>

<button class="ui button"><%= link_to "More Games", games_path %></button>

<h3>Final Score: <%= @game.last_score_total(current_user_id) %></h3>

<ol>
<% @round_plays.each do |round_play| %>
    <li><%= round_play.round.name %> Score: <%= round_play.score %></li>
<% end %>
</ol>