<%= form_for round do |f| %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
    <div>
        <%= f.label :name, "Round Name:" %>
        <%= f.text_field :name %>
    </div>
    <div>
        <ol>
        <%= f.fields_for :questions do |q| %>
            <li>
            <%= q.hidden_field :creator_id, value: current_user.id %>
            <%= q.label :question %>
            <%= q.text_area :question %>
            <%= q.label :answer %>
            <%= q.text_field :answer %>
            <%= q.label :alt_answer %>
            <%= q.text_field :alt_answer %>
            </li>
        <% end %>
        </ol>
    </div>
    <%= f.submit %>
<% end %>