<div class="header show-header">
    <h1><%= @round.name %></h1>
    <p>Created By: <%= @round.creator.username %></p>

    <div class="play-round-link">
        <button class="ui left labeled icon button">
            <i class="play icon"></i>
            <%= link_to "Play Round", new_round_round_play_path(@round) %>
        </button>
    </div>
    <% if current_user_id == @round.creator.id %>
        <button class="ui button"><%= link_to "Edit", edit_round_path(@round) %></button>
    <% end %>
    <% if logged_in? %>
        <div class="add-to-group ui form">
            <%= form_tag save_round_path(@round) do %>
                <div class="field">
                <%= collection_select :round_group_round, :round_group_id, current_user.round_groups, :id, :name, {}, {class: "ui search dropdown"} %>
                <%= submit_tag "Add To Group", class: "ui button" %>
            <% end %>
            </div>
        </div>
    <% end %>
</div>

<div class="round-show">
    <div class="round-questions">
        <h2 class="show-sub">Questions:</h2>
            <div ="ui ordered list">
                <ol>
                    <% @round.questions.each do |question| %>
                        <li><%= question.question %></li>
                    <% end %>
                    </ol>
                    </div>
            </div>

        <div class="high-scores">
            <h2 class="show-sub">High Scores:</h2>
                <ul>
                <% @round.high_scores.each do |round_play| %>
                    <li><%= round_play.user.username %>: <%= round_play.score %></li>
                <% end %>
                </ul>
        </div>
</div>