<div class="wrapper">
    <%= form_for user, html: {class: "ui form"} do |f| %>
        <div class="field>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>
        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <%= f.submit "Save", class: "ui button" %>
    <% end %>
</div>