<div class="header show-header">
    <div class="user-info">
        <h1><%= @user.username %></h1>
        <% if current_user == @user %>
            <button class="ui button"><%= link_to "New Game", new_game_path, class: "user-info-link" %></button>
            <button class="ui button"><%= link_to "New Round", new_round_path, class: "user-info-link" %></button>
            <br>
            <button id="new-round-group" class="ui button"><%= link_to "New Round Group", new_round_group_path, class: "user-info-link" %></button>
        <% end %>
        </div>
</div>
        
<div class="user-show">
    <% if current_user == @user %>
        <div class="user-groups">
            <h2 class="show-sub">Your Round Groups</h2>
            <ul>
            <% @user.round_groups.each do |round_group| %>
                <li><%= link_to round_group.name, round_group_path(round_group) %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="user-games">
        <h2 class="show-sub">Created Games</h2>
        <ul>
        <% @user.games.each do |game| %>
            <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
        </ul>
    </div>

    <div class="user-rounds">
        <h2 class="show-sub">Created Rounds</h2>
        <ul>
        <% @user.rounds.each do |round| %>
            <li><%= link_to round.name, round_path(round) %></li>
        <% end %>
        </ul>
    </div>
    
    <div class="user-played-games">
        <h2 class="show-sub">Played Games</h2>
        <ul>
        <% @user.played_games.uniq.each do |game| %>
            <li><%= link_to game.name, game_path(game) %>
            <br>
            Score: <%= game.last_score_total(@user.id) %></li>
        <% end %>
        </ul>
    </div>
    
    <div class="user-played-rounds">
        <h2 class="show-sub">Played Rounds</h2>
        <ul>
        <% @user.round_plays.each do |round_play| %>
            <li><%= link_to round_play.round.name, round_path(round_play.round) %>
            <br>
            Score: <%= round_play.score %></li>
        <% end %>
        </ul>
    </div>
</div>