<div class="wrapper">

    <%= form_for game, html: {class: "ui form"} do |f| %>
        <div class="inline field name">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <h2>Rounds:</h2>
        <ol>
            <%= f.fields_for :game_rounds do |g| %>
                <div class="field">
                    <li>
                        <%= g.collection_select :round_id, rounds, :id, :name %>
                    </li>
                </div>
            <% end %>
        </ol>
        <div class="field submit">
            <%= f.submit "Save", class: "ui button" %>
        </div>
    <% end %>
</div>