<div class="wrapper">
    <h1>Create A Game</h1>

    <%= form_tag new_game_rounds_path, html: {class: "ui form"}, method: :get do %>
        <div class="field">
            <%= label_tag :num_rounds, "Number of Rounds:" %>
            <%= select_tag :num_rounds, options_for_select(@numbers), class: "ui search dropdown select-game-new" %>
        <div class="field">
            <%= label_tag :round_group_ids, "Your Round Groups To Select From:" %>
            <%= select_tag :round_group_ids, options_from_collection_for_select(@round_groups, :id, :name), multiple: true, class: "ui dropdown select-game-new" %>
        </div>
        <div class="field submit">
            <%= submit_tag "Continue", class: "ui button" %>
        </div>
    <% end %>
</div>