<div class="header show-header">
    <h2 class="show-title"><%= @game.name %></h2>
    <p>Created By: <%= link_to @game.creator.username, user_path(@game.creator) %></p>

    <button class="ui left labeled icon button">
            <i class="play icon"></i><%= link_to "Play Game", game_game_plays_start_path(@game), method: "post" %>
    </button>
    <% if current_user == @game.creator %>
        <button class="ui button"><%= link_to "Edit", edit_game_path(@game) %></button>
        <br>
    <% end %>
</div>

<div class="games-show-grid">

    <div class="game-rounds">
        <h2 class="show-sub">Rounds</h2>
        <div class="ui ordered list">
            <ol>
            <% @game.rounds.each do |round| %>
                <li><%= link_to round.name, round_path(round) %></li>
            <% end %>
            </ol>
        </div>
    </div>

    <div class="high-scores">
        <h2 class="show-sub">High Scores</h2>
            <ol>
            <% @game.high_scores.each do |score| %>
                <li><%= score[1].username %>: <%= score[0] %></li>
            <% end %>
            </ol>
    </div>
</div>