<!DOCTYPE html>
<html>
  <head>
    <title>TriviaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="user-links">
        <% if logged_in? %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "user-link" %>
          <%= link_to "Logout", logout_path, method: "delete", class: "user-link" %>
        <% else %>
          <%= link_to "Login", login_path, class: "user-link" %>
          <%= link_to "Create Username", new_user_path %>
        <% end %>
      </div>
      <div class="ui compact menu navbar">
        <div class="header item">
          Trivia App
        </div>
          <%= link_to "Home", root_path, class: "item" %>
          <%= link_to "Games", games_path, class: "item" %>
          <%= link_to "Rounds", rounds_path, class: "item" %>
          <% if logged_in? %>
            <%= link_to "My Trivia", user_path(current_user), class: "item" %>
          <% end %>
      </div>
      </header>

    <div class="content">
      <%= yield %>
      </div>

    <footer>
      <div>

      </div>
    </footer>
  </body>
</html>
